
#header {
  border: 1px solid gray;

  ul {
    list-style: none;

    li {
      display: inline-block;
      border-right: 1px solid gray;
      padding: 5px;

      &.selected {
        background-color: gray;
      }
    }
  }
}
