@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  box-sizing: border-box;
}

body {
  @apply text-stone-900;
}

.margin-safe {
  margin-top: env(safe-area-inset-top);
  margin-bottom: env(safe-area-inset-bottom);
  margin-right: env(safe-area-inset-right);
  margin-left: env(safe-area-inset-left);
}

.padding-safe {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-right: env(safe-area-inset-right);
  padding-left: env(safe-area-inset-left);
}

.hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  padding: 0;
  margin: -1px;

  fill: transparent;
  overflow: hidden;
  visibility: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0;

  top: -9999px;
  left: -9999px;
}
