@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  box-sizing: border-box;
}

.margin-safe {
  margin-top: env(safe-area-inset-top);
  margin-bottom: env(safe-area-inset-bottom);
  margin-right: env(safe-area-inset-right);
  margin-left: env(safe-area-inset-left);
}

.padding-safe {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-right: env(safe-area-inset-right);
  padding-left: env(safe-area-inset-left);
}

polyline { // TMP
  stroke-dasharray: 10;
  animation: dash 5s linear infinite;
}

@keyframes dash { // TMP
  to {
    stroke-dashoffset: 1000;
  }
}
